<div class="grid-row">
    <div class="col-9">
        <h1 class="heading-xlarge">
            Change password
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form method="post" id="form-changepassword">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <fieldset>
                <legend class="vh">Change password form</legend>
                <div class="form-group <%= locals.validationMessages.oldPassword ? 'form-group-error' : '' %>">
                    <label class="form-label-bold" for="oldPassword">Enter your current password</label>
                    <% if (locals.validationMessages.oldPassword) { %>
                    <p class="error-message" id="validation-email"><%=locals.validationMessages.oldPassword%></p>
                    <% } %>
                    <input class="form-control" id="oldPassword" name="oldPassword" type="password" />
                </div>
                <div class="form-group <%= locals.validationMessages.newPassword ? 'form-group-error' : '' %>">
                    <label class="form-label-bold" for="newPassword">Create new password</label>
                    <% if (locals.validationMessages.newPassword) { %>
                    <p class="error-message" id="validation-email"><%=locals.validationMessages.newPassword%></p>
                    <% } %>
                    <input class="form-control" id="newPassword" name="newPassword" type="password" />
                </div>
                <div class="form-group <%= locals.validationMessages.confirmPassword ? 'form-group-error' : '' %>">
                    <label class="form-label-bold" for="confirmPassword">Confirm your new password</label>
                    <% if (locals.validationMessages.confirmPassword) { %>
                    <p class="error-message" id="validation-email"><%=locals.validationMessages.confirmPassword%></p>
                    <% } %>
                    <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" />
                </div>
                <div class="form-submit">
                    <button type="submit" class="button">Change password</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>