<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Your services
        </h1>

        <% if(locals.myOrganisartions) { %>

        <% for (let i = 0; i < locals.myOrganisartions.length; i++) { %>
        <% const myServices = locals.myServicesByOrganisation[locals.myOrganisartions[i]] %>
        <h2 class="service-organisation"><%= myServices[0].organisation.name %></h2>
        <ul class="service-list">
            <% for (let s = 0; s < myServices.length; s++) { %>

            <li>
                <a href="#" class="under-construction">
                    <h3>
                        <span class="service-title"><%= myServices[s].name %></span>
                        <span class="role-name"><%= myServices[s].role.name %></span>
                    </h3>
                    <span class="service-description"><%= myServices[s].description %></span>
                </a>
            </li>
            <% if (myServices[s].role.id >= 1) { %>
            <li class="manage-service">
                <a href="/organisations/<%=myServices[s].organisation.id%>/services/<%=myServices[s].id%>">Manage this service</a>
            </li>
            <% } %>
            <% } %>
        </ul>
        <% } %>

        <% } else { %>
        <div class="empty-state">
            <p>You don't have access to any services at the moment.</p>
        </div>
        <% } %>

    </div>
    <div class="col-4">
        <aside>
            <h2 class="heading-medium">Actions</h2>
            <nav class="subnav">
                <ul>
                    <li><a href="/services/available-services">Learn about other services</a></li>
                    <li><a href="user-profile-edit.html">Change my details</a></li>
                    <li><a href="/change-password">Change my password</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</div>

<style>

    .service-list li a {
        text-decoration: none;
    }

    .service-list li h3 {
        text-decoration: none;
    }

    .service-list li a h3 span.service-title {
        text-decoration: none;
    }

    .service-list li a span.service-description {
        color: #111;
    }

    .service-list li a span.role-name {
        float: right;
    }

    h2.service-organisation {
        font-weight: bold;
        padding: 15px 0;
    }

    li.manage-service{
        position: relative;
        top: -9px;
    }



    li.manage-service a{
       padding: 5px 15px;
        border-left-color: #a83632;
    }



</style>