<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Access DfE services
        </h1>
        <p class="">These are the services you are approved to use.</p>
        <div class="heading-group">
            <h2 class="heading-medium">
                Your DfE services
            </h2>
            <span> <a href="/services/available-services">View available DfE services</a></span>
        </div>

        <% if(locals.myOrganisations) { %>

        <% for (let i = 0; i < locals.myOrganisations.length; i++) { %>
        <% const myServices = locals.myServicesByOrganisations[locals.myOrganisations[i]] %>
        <% if (myServices) { %>
        <h2 class="service-organisation heading-small spacer-heading"><%= myServices[0].organisation.name %></h2>
        <ul class="service-list">
            <% for (let s = 0; s < myServices.length; s++) { %>
                <li>
                    <a href="#" class="under-construction">
                        <h3>
                            <span class="service-title"><%= myServices[s].name %></span>
                            <span class="role-name"><%= myServices[s].role.name %></span>
                        </h3>
                        <span class="service-description"><%= myServices[s].description %></span>
                    </a>
                </li>
                <% if (myServices[s].role.id >= 1) { %>
                <li class="manage-service">
                    <a href="/organisations/<%=myServices[s].organisation.id%>/services/<%=myServices[s].id%>">Manage this service</a>
                </li>
                <% } %>
            <% } %>
        </ul>
        <% } %>
        <% } %>
        <% } else { %>
            <div class="empty-state">
                <p>You don't have access to any services at the moment.</p>
            </div>
        <% } %>


        <% if(locals.myPendingOrganisations && locals.myPendingServicesByOrganisations) { %>
        <h3 class="heading-medium">You have requested access to the following services</h3>
        <% for (let i = 0; i < locals.myPendingOrganisations.length; i++) { %>

        <% const myServices = locals.myPendingServicesByOrganisations[locals.myPendingOrganisations[i]] %>

        <% if (myServices) { %>

        <h4 class="heading-small spacer-heading"><%= myServices[0].organisation.name %></h4>

        <ul class="list-table">
            <% for (let s = 0; s < myServices.length; s++) { %>
            <li>
                <p><%= myServices[s].name %></p>
                <span class="meta">Request sent on 30th October 2017</span>
            </li>
            <% } %>
        </ul>
        <%  } %>
        <%  } %>
        <%  } %>

    </div>
    <div class="col-4">
        <aside>
            <h2 class="heading-medium">Actions</h2>
            <nav class="subnav">
                <ul>
                    <li><a href="/services/available-services">Learn about other services</a></li>
                    <li><a href="/help">Get help</a></li>
                    <!--<li><a href="user-profile-edit.html">Change my details</a></li>-->
                    <!--<li><a href="/change-password">Change my password</a></li>-->
                </ul>
            </nav>
        </aside>
    </div>
</div>
