<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Access DfE services
        </h1>

        <% if(locals.myOrganisations) { %>
        <% for (let i = 0; i < locals.myOrganisations.length; i++) { %>
        <% const myServices = locals.myServicesByOrganisations[locals.myOrganisations[i]] %>
        <% if (myServices) { %>
        <h2 class="heading-small"><%= myServices[0].organisation.name %></h2>
        <ul class="service-list">
            <% for (let s = 0; s < myServices.length; s++) { %>
            <li class="status-<%= myServices[s].status ? "live" : "pending" %>%>">
                <div class="service-name">
                    <h3 class="service-title">
                        <% if (myServices[s].status === 1) { %>
                            <a href="#" class="service-link under-construction">
                                <%= myServices[s].name %>
                            </a>
                        <% } else { %>
                            <%= myServices[s].name %>
                            <span class="heading-secondary">Pending approval</span>
                        <% } %>
                    </h3>
                    <span class="role-name"><%= myServices[s].role.name %></span>
                </div>
                <div class="more-information">
                    <a href="#modal-service-<%=s+1%>">More information <span class="vh">about <%= myServices[s].name %></span> </a>
                </div>
                <div class="modal" id="modal-service-<%=s+1%>">
                    <dl class="rows condensed">
                        <dt>Description</dt>
                        <dd><%= myServices[s].description %></dd>
                    </dl>
                </div>
            </li>
            <% } %>
        </ul>
        <% } %>
        <% } %>
        <% } else { %>
        <div class="empty-state">
            <p>You don't have access to any services at the moment.</p>
        </div>
        <% } %>

    </div>
    <div class="col-4">
        <aside>
            <h2 class="heading-medium">Actions</h2>
            <nav class="subnav">
                <ul>
                    <li><a href="/services/available-services">Add another service</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</div>

