<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Request to access service
        </h1>
        <dl class="rows">
            <dt>Service</dt>
            <dd><%= locals.service.name %></dd>
            <dt>Organisation</dt>
            <dd><%= locals.organisation.name %></dd>
            <dt>Name</dt>
            <dd><%= locals.given_name %> <%= locals.family_name %></dd>
            <dt>Email</dt>
            <dd><%= locals.email %></dd>
            <dt>Role</dt>
            <dd><%= locals.role.name %></dd>
        </dl>
    </div>
</div>



