<a href="/" class="link-back">Back</a>

<div class="row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            <%= locals.serviceName %>
        </h1>
        <% if (locals.flash.info) { %>
        <div class="notification notification-success">
            <%= locals.flash.info %>
        </div>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Organisation</th>
                <th>User Type</th>
                <th>Status</th>
            </tr>
            <% for(let i = 0; i < locals.serviceUsers.length; i++) {%>
            <% let user = locals.serviceUsers[i] %>
            <tr>
                <td><%= user.name %><sup style="font-size: 0.85em; color: #555; padding-left: 5px;" ><%= user.id === locals.currentUserId ? '(you)' : ''%></sup></td>
                <td><%= user.role.name %></td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <% } %>
        </table>
    </div>
</div>